<div class="card-product" data-controller="item">
  <div class="row">
    <div class="col-7">
      <h2 data-target="item.name"><%= item.name %></h2>
      <p data-target="item.alias"><%= item.item_category.alias %></p>
    </div>
    <div class="col-5">
      <div class="br-wrapper br-theme-fontawesome-stars">
          <%= render 'shared/stars', item: item %>
      </div>
    </div>
  </div>
  <div class="row">'
    <% if item.photos.any? %>
      <img src="<%= item.photos.first.url %>" data-target="item.photo" class="item-photo"/>
    <% end %>
    <div class="card-product-infos">
      <p> Description would go here</p>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <%= link_to "Replace", refresh_search_path(searches,
      item_id: item.id),
      method: :post,
      remote: false,
      id: "replace",
      class: "replace btn btn-primary",
      data: {
        item_id: item.id,
        search_id: searches.id,
        item_refresh_url: refresh_search_path(searches)
      }  %>
    </div>

    <div class="col-4">
      <p>i</p>
    </div>
    <div class="col-4">
      <%= link_to "Details", item_path(item), class: "btn btn-primary" %>
    </div>

  </div>
</div>
