<div class="card-product" data-controller="item">
  <div class="row">
    <div class="col-7 category">
      <h2 data-target="item.name"><%= item.name %></h2>
      <p data-target="item.alias"><%= item.item_category.alias %></p>
    </div>
    <div class="col-5">
      <div class="br-wrapper br-theme-fontawesome-stars">
          <%= render 'shared/stars', item: item %>
      </div>
    </div>
  </div>
  <div class="flex">
    <img src="<%= item.image_url %>" data-target="item.photo" class="item-photo"/>

    <div class="card-product-infos">
      <p><%= item.item_category.alias %>, <%= item.name %> <%= item.description %></p>
    </div>
  </div>

  <div class="flex attr-container">
    <div class="attributes">
      <% item.item_attributes.each do |attribute|%>
      <div class="attribute">
        <p><%= attribute.name %></p>
      </div>
      <% end %>
    </div>

    <div class="">
      <%= link_to "New Suggestion", refresh_search_path(searches,
      item_id: item.id),
      method: :post,
      remote: false,
      id: "replace",
      class: "new-suggestion btn",
      data: {
        item_id: item.id,
        search_id: searches.id,
        item_refresh_url: refresh_search_path(searches)
      }  %>
    </div>


  </div>
</div>
