<div class="card-product">
  <div class="row">
    <div class="col-7">
      <h2><%= item.name %></h2>
      <p><%= item.item_category.alias %></p>
    </div>
    <div class="col-5">
      <div class="br-wrapper br-theme-fontawesome-stars">
          <%= render 'shared/stars', item: item %>
      </div>
    </div>
  </div>
  <div class="row">'
    <% if item.photos.any? %>
      <img src="<%= item.photos.first.url %>" class="item-photo"/>
    <% end %>
    <div class="card-product-infos">
      <p> Description would go here</p>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <%= link_to "Replace", "#", class: "replace btn btn-primary"  %>
    </div>

    <div class="col-4">
      <p>i</p>
    </div>
    <div class="col-4">
      <%= link_to "Details", item_path(item), class: "btn btn-primary" %>
    </div>

  </div>
</div>
