<% i=@itinerary[0] if item== @experience.items.first %>
<% f=@itinerary[1] if item== @experience.items.first %>
<% i=@itinerary[2] if item== @experience.items.second %>
<% f=@itinerary[3] if item== @experience.items.second %>
<% i=@itinerary[4] if item== @experience.items.third %>
<% f=@itinerary[5] if item== @experience.items.third %>
<div class="show-card">
  <div class="info">
    <div class="time p-2"> <%= i %></div>
    <div class="time-end p-2"> <%= f %></div>
  </div>
  <div class="card-name">
    <div class="name">
      <h2><%= item.name %></h2>
    </div>
      <img src="<%= item.photos.first.url %>" class="item-photo"/>
  </div>
  <div class="card-text">
    <h5 class="type"><%= item.item_category.alias %>
    </h5>
    <p>Selected cocktails and a journey into the world of rum from the Caribbean, Latin America, Panama, India and Australia are waiting for you. Come and visit us, leave the stress behind and enjoy the classic atmosphere of Barroom.</p>
  </div>
</div>


