<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Date Fox</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>
  <body>

    <% unless controller_name == 'cities' ||
              controller_name == 'date_times' ||
              controller_name == 'activities' ||
              controller_name == 'price_ranges' %>
      <%= render 'shared/navbar' %>
    <% end %>

    <%= render 'shared/flashes' %>
    <%= yield %>

    <%= render 'shared/flashes' %>
    <%#= javascript_pack_tag 'application' %>
  </body>
</html>
